@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetBlog</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/base.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location
        } else {
            if (top !== self) {
                if (confirm("Reload?")) {
                    top.location.reload()
                }
            }
        };
    </script>

    <style type="text/css">
        body {
            background-color: #f9f9f9;
        }

        .signup-container {
            width: 340px;
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        .signup-form {
            border-radius: 5px;
            background-color: #fff;
            margin-top: 16px !important;
            border: 1px solid #d8dee2;
            padding: 20px;
        }

            .signup-form p {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }

        .signup-header {
            background-color: transparent;
            border: 0;
            color: #333;
            margin-bottom: 15px;
            text-align: center;
            text-shadow: none;
        }

        .input_label {
            font-weight: 600;
            display: block;
            margin-bottom: 7px;
        }

        .signup-button {
            border: 0;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: .875em;
            margin: 0;
            padding: 10px 24px;
            transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
            user-select: none;
        }

            .signup-button:hover {
                background-color: #eaeaea;
            }

        .login-account {
            border: 1px solid #d8dee2;
            border-radius: 5px;
            padding: 15px 20px;
            text-align: center;
        }

        .validation-summary-errors {
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            font-size: 13px;
            margin: 0 auto 10px;
            background-color: #ffdce0;
            color: #86181d;
        }

        .field-validation-error {
            font-size: 13px;
            color: #86181d;
        }
    </style>
</head>
<body>
    <header>
        <span>
            <a asp-page="/Index" tabindex="1">Home</a>
            <a asp-page="/Blog/Index" tabindex="2">Blog</a>
        </span>
    </header>
    <div class="container" style="display:flex; justify-content:center;">
        <div class="signup-container">
            <div class="signup-header"><h2>@ViewData["Title"]</h2></div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off" novalidate="novalidate" onsubmit="cmdEncrypt()">
                <h4>Create a new account.</h4>
                <div asp-validation-summary="All"></div>
                <div class="signup-form">
                    <p>
                        <label asp-for="Input.Email" class="input_label">Email address</label>
                        <input asp-for="Input.Email" tabindex="3" autofocus="autofocus" autocomplete="off" autocorrect="off" class="form-control" />
                        <span asp-validation-for="Input.Email"></span>
                    </p>
                    <p>
                        <label asp-for="Input.Password" class="input_label"></label>
                        <input asp-for="Input.Password" tabindex="4" class="form-control" />
                        <span asp-validation-for="Input.Password"></span>
                    </p>
                    <p>
                        <label asp-for="Input.ConfirmPassword" class="input_label"></label>
                        <input asp-for="Input.ConfirmPassword" tabindex="5" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword"></span>
                    </p>
                    @*<input type="hidden" name="encrypted_pwd" id="encrypted_pwd" />*@
                    <p>
                        <button type="submit" tabindex="6" class="signup-button">Sign Up</button>
                    </p>
                </div>
            </form>
            <p class="login-account">
                hav an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" tabindex="7" title="login with an exists account" style="font-size:smaller;">Log in</a>
            </p>
        </div>
    </div>

    <footer>
        <hr />
        <p>&copy; 2018 - DotNetBlog</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/jsencrypt.min.js"></script>
        <script src="~/js/jsrsa.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jsencrypt.min.js" asp-append-version="true"></script>
        <script src="~/js/jsrsa.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        function cmdEncrypt() {
            var hashedData = rsaEncrypt($("#Input_Password").val());
            $("#Input_Password").val(hashedData);
            $("#Input_ConfirmPassword").val(hashedData);
            return;
        }
    </script>
</body>
</html>
