@page
@model ResetModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetBlog</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/base.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location
        } else {
            if (top !== self) {
                if (confirm("Reload?")) {
                    top.location.reload()
                }
            }
        };
    </script>

    <style type="text/css">
        body {
            background-color: #f9f9f9;
        }

        #forgotPassword {
            float: right;
            font-size: smaller;
        }

        .login-container {
            width: 340px;
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        .login-form {
            border-radius: 5px;
            background-color: #fff;
            margin-top: 16px !important;
            border: 1px solid #d8dee2;
            padding: 20px;
        }

            .login-form p {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }

        .login-header {
            background-color: transparent;
            border: 0;
            color: #333;
            margin-bottom: 15px;
            text-align: center;
            text-shadow: none;
        }

        .input_label {
            font-weight: 600;
            display: block;
            margin-bottom: 7px;
        }

        .login_button {
            border: 0;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: .875em;
            margin: 0;
            padding: 10px 24px;
            transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
            user-select: none;
        }

            .login_button:hover {
                background-color: #eaeaea;
            }

        .create-account {
            border: 1px solid #d8dee2;
            border-radius: 5px;
            padding: 15px 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <span>
            <a asp-page="/Index" tabindex="1">Home</a>
            <a asp-page="/Blog/Index" tabindex="2">Blog</a>
        </span>
    </header>
    <div class="container" style="display:flex; justify-content:center;">
        <div class="login-container">
            <div class="login-header"><h2>@ViewData["Title"]</h2></div>
            <form method="post" autocomplete="off" novalidate="novalidate" onsubmit="cmdEncrypt();">
                <div asp-validation-summary="All"></div>
                <div class="login-form">
                    <p>
                        <label asp-for="Input.Email" class="input_label">Please input your email address</label>
                        <input asp-for="Input.Email" tabindex="3" autofocus="autofocus" autocomplete="off" autocorrect="off" class="form-control" />
                        <span asp-validation-for="Input.Email"></span>
                    </p>
                    <p>
                        <button type="submit" tabindex="6" class="login_button">Send Email</button>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2018 - DotNetBlog</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
