<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="nil's personal website" />
    <title>@ViewData["Title"] - DotNetBlog</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/base.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location;
        } else {
            if (top !== self) {
                if (confirm("Reload?")) {
                    top.location.reload();
                }
            }
        }
    </script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <span>
            <a asp-page="/Index">Home</a>
            <a asp-page="/Blog/Index">Blog</a>
        </span>
        <span>
            @await Html.PartialAsync("_LoginPartial")
        </span>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2018 - DotNetBlog</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ujs/rails.js" asp-append-version="true"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ujs/rails.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
