
@if (this.User.Identity.IsAuthenticated)
{
    <a asp-page="/Blog/Manage/Edit" asp-route-postID="@Guid.Empty" title="New Post">New Post</a>
    <a href="javascript:void(0);">@this.User.Identity.Name</a>
    <a asp-page="/Account/Manage/Index">Account Setup</a>
    <a asp-page="/Blog/Manage/Index">Blog Setup</a>
    <a href="/Account/Logout" data-method="Post" rel="nofollow">Log out</a>
}
else
{
    <a asp-page="/Account/Login">Log in</a>
}
