
@if (this.User.Identity.IsAuthenticated)
{
    <a href="/Blog/Manage/Post/New" title="New Post">New Post</a>
    <a href="javascript:void(0);">@this.User.Identity.Name</a>
    <a asp-page="/Account/Manage/Index">Account Setup</a>
    <a asp-page="/Blog/Manage/Index">Blog Setup</a>
    <!--data-method="Post" post method occured 400 bad request error.-->
    <a asp-page="/Account/Logout" rel="nofollow">Log out</a>
}
else
{
    <a asp-page="/Account/Login" rel="nofollow">Log in</a>
}
