@page
@model BasicModel
@{
    ViewData["Title"] = "Basic Setup";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post" autocomplete="off" novalidate="novalidate">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NickName"></label>
                <input asp-for="Input.NickName" class="form-control" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthday"></label>
                <input asp-for="Input.Birthday" class="form-control" date-provider="datepicker" />
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <input asp-for="Input.Gender" class="form-control" />
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" asp-append-version="true" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            $('#Input_Birthday').datepicker({
                format: "yyyy/mm/dd"
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}