@page
@model GetCommentsModel
@{
    Layout = "";
}
<ul class="list-group">
    @foreach (Comment item in this.Model.PostComments)
    {
        <li class="list-group-item">
            @Html.Partial("Templates/_Comment", item, ViewData)
        </li>
    }
</ul>