@page
@model GetCommentsModel
@{
    Layout = "";
}
<ul class="list-group">
    @foreach (Comment item in this.Model.PostComments)
    {
        <li class="list-group-item">
            @Partial("Templates/_Comment", item)
        </li>
    }
</ul>