@page
@model PostModel
@{
    ViewData["Title"] = "Post";
}
<h2>@ViewData["Title"]</h2>
<h3>@this.Model.Post.Title</h3>
<div id="postContent">@this.Model.Post.Content</div>


@section Styles {
    <link rel="stylesheet" href="~/thinker-md/stylesheets/thinker-md.user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/stylesheets/thinker-md.vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/nature.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/object.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/people.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/place.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/Sysmbols.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/thinker-md/emoji/twemoji.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/thinker-md/javascripts/thinker-md.vendor.min.js" charset="utf-8" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#postContent").html(marked($("#postContent").html()));
        });
    </script>
}