html, body {
    margin: 0;
    padding: 0;
}
/*a*/
a {
    text-decoration: none;
}

    a:link {
        color: #00c1de;
    }

    a:visited {
        color: #00b7d3;
    }

    a:active, a:hover {
        color: #00afc9;
    }

    a:active {
        text-decoration: underline;
    }
