body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #f8f8f8;
}

    header a {
        color: #808080;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
    }

        header a:active, header a:visited {
            color: #808080;
        }

        header a:hover {
            color: #f60;
            text-decoration: underline;
        }

.container {
    flex-grow: 1;
    margin: 0 50px 0 50px;
}

footer p {
    text-align: center;
}

/* common css */

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-success {
    color: #28a745 !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
