body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d6d9de;
}

    header a {
        color: #808080 !important;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none !important;
    }

        header a:active, header a:visited {
            color: #808080 !important;
        }

        header a:hover {
            color: #f60 !important;
            text-decoration: underline;
        }

.container {
    margin-bottom: 10px;
    padding: 0 20px;
}

footer {
    margin-top: auto;
    flex-shrink: 0;
    border-top: 1px solid #d6d9de;
}

    footer p {
        text-align: center;
        color: #808080;
    }

/* common css */

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-success {
    color: #28a745 !important;
}

.form-control {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}

    .form-control:focus {
        box-shadow: 0 0 0 0.1rem rgba(91,155,213, 0.5) !important;
    }



.btn-default {
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: .875em;
    margin: 0;
    padding: 10px 24px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
}

    .btn-default:hover {
        background-color: #eaeaea;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
