body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d6d9de;
}

    header a {
        color: #808080 !important;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none !important;
    }

        header a:active, header a:visited {
            color: #808080 !important;
        }

        header a:hover {
            color: #f60 !important;
            text-decoration: underline;
        }

.container {
    margin-bottom: 10px;
    padding: 0 20px;
}

footer {
    margin-top: auto;
    flex-shrink: 0;
    border-top: 1px solid #d6d9de;
}

    footer p {
        text-align: center;
        color: #808080;
    }

/* common css */

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-success {
    color: #28a745 !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
